In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

In [3]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

4

bs4.element.Tag

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2]
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3]
2,JANUARY,10,Like a Boss,Paramount Pictures,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4]
3,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5]
4,JANUARY,10,The Sonata,Screen Media Films,Andrew Desmond (director/screenplay); Arthur M...,[6]
...,...,...,...,...,...,...
161,DECEMBER,18,Dune,Warner Bros. Pictures / Legendary Entertainment,Denis Villeneuve (director/screenplay); Jon Sp...,[160]
162,DECEMBER,18,West Side Story,20th Century Studios / Amblin Entertainment,Steven Spielberg (director); Tony Kushner (scr...,[3]
163,DECEMBER,18,Coming 2 America,Paramount Pictures,"Craig Brewer (director); Kenya Barris, Barry W...",[161]
164,DECEMBER,23,The Croods 2,Universal Pictures / DreamWorks Animation,"Joel Crawford (director); Kevin Hageman, Dan H...",[162]
165,DECEMBER,25,News of the World,Universal Pictures,Paul Greengrass (director/screenplay); Luke Da...,[163]

                 Title                                      Cast and crew
0           The Grudge  Nicolas Pesce (director/screenplay); Andrea Ri...
1           Underwater  William Eubank (director); Brian Duffield, Ada...
2          Like a Boss  Miguel Arteta (director); Sam Pitman, Adam Col...
3    Inherit the Viper  Anthony Jerjen (director); Andrew Crabtree (sc...
4           The Sonata  Andrew Desmond (director/screenplay); Arthur M...
..                 ...                                                ...
161               Dune  Denis Villeneuve (director/screenplay); Jon Sp...
162    West Side Story  Steven Spielberg (director); Tony Kushner (scr...
163   Coming 2 America  Craig Brewer (director); Kenya Barris, Barry W...
164       The Croods 2  Joel Crawford (director); Kevin Hageman, Dan H...
165  News of the World  Paul Greengrass (director/screenplay); Luke Da...

[166 rows x 2 columns]

ModuleNotFoundError: No module named 'tmdbv3api'

In [ ]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [ ]:
df_2020

In [ ]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [ ]:
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [ ]:
new_df20

In [ ]:
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']

In [ ]:
new_df20.isna().sum()

In [ ]:
new_df20 = new_df20.dropna(how='any')

In [ ]:
new_df20.isna().sum()

In [ ]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

In [ ]:
new_df20

In [ ]:
old_df = pd.read_csv('final_data.csv')

In [ ]:
final_df = old_df.append(new_df20,ignore_index=True)

In [ ]:
final_df.to_csv('main_data.csv',index=False)